@font-face {
  font-family: generalFont;
  src: url(../font-folder/OpenSans-VariableFont_wdthwght.ttf);
  src: url(../font-folder/OpenSans-Italic-VariableFont_wdthwght.ttf);
}
.site-head {
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 24px 80px;
}
.site-head__logo-menu {
  display: flex;
  gap: 74px;
}
.site-head__logo {
  width: 35px;
  height: 35px;
}
.site-head__union {
  width: 100%;
}
.site-head__menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.site-head__item-list {
  display: flex;
  gap: 56px;
}
.site-head__menu-link {
  font-family: generalFont;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #36485c;
}
.site-head__account-sign-in {
  display: flex;
  gap: 56px;
}
.site-head__account-content {
  font-family: generalFont;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #36485c;
}
.site-head__sign-in {
  display: flex;
  gap: 12px;
}
.site-head__user {
  width: 26px;
  height: 26px;
}
.site-head__circle-user {
  width: 100%;
}
.site-head__sign-content {
  font-family: generalFont;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #36485c;
}

.site-main {
  height: auto;
  background-color: #ffffff;
}
.site-main__hero {
  height: auto;
  background-color: #ffffff;
  position: relative;
}
.site-main__hero__copy {
  width: 846px;
  height: 304px;
  position: absolute;
  top: 127px;
  left: 297px;
  display: block;
  gap: 24px;
}
.site-main__hero__title {
  font-family: generalFont;
  font-weight: 600;
  font-style: bold;
  font-size: 64px;
  line-height: 72px;
  text-align: center;
  color: #172026;
}
.site-main__hero__text {
  font-family: generalFont;
  font-weight: 400;
  font-style: semi-regular;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #36485c;
}
.site-main__hero__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  position: absolute;
  top: 350px;
  left: 550px;
}
.site-main__hero__button {
  width: 160px;
  height: 56px;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 16px 32px;
  display: flex;
  gap: 10px;
  background-color: #4328eb;
  font-family: generalFont;
  font-weight: 500;
  font-style: medium;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
.site-main__hero__button-link {
  display: flex;
  gap: 12px;
}
.site-main__hero____button-link__text {
  font-family: generalFont;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  color: #4328eb;
}
.site-main__hero__arrow {
  width: 28px;
  height: 28px;
  border-radius: 30px;
  padding: 6px;
  display: flex;
  gap: 10px;
  background-color: rgba(213, 207, 250, 0.5019607843);
}
.site-main__hero__arrow-right {
  width: 100%;
}
.site-main__hero__image {
  height: auto;
  position: absolute;
  top: 491px;
  left: 145px;
}
.site-main__hero__mobile {
  width: 271px;
  height: 585px;
  position: absolute;
  top: 95px;
  left: 720px;
  z-index: 4;
}
.site-main__hero__web {
  width: 957px;
  height: 680px;
  position: absolute;
  top: -80px;
  left: 10px;
  z-index: 3;
}
.site-main__hero__logos {
  position: absolute;
  top: 1293px;
  left: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 72px;
  z-index: 2;
}
.site-main__hero__logos__text__content {
  font-family: generalFont;
  font-weight: 400;
  font-style: regular;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.site-main__hero__logos__logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 72px;
}
.site-main__hero__gradient {
  position: absolute;
  top: 784px;
  left: -88px;
  z-index: 1;
  width: 1555px;
  height: 653px;
}
.site-main__hero__gradient2 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.site-main__features {
  height: auto;
  padding: 120px 80px;
  display: block;
  gap: 80px;
}
.site-main__features__card1 {
  height: auto;
  display: flex;
  gap: 24px;
  position: relative;
  top: 1400px;
}
.site-main__features__card1__copy {
  width: 628px;
  height: 628px;
  padding: 56px;
  display: flex;
  gap: 32px;
}
.site-main__features__card1__copy__heading {
  display: block;
  gap: 16px;
}
.site-main__features__card1__copy__heading__link {
  font-family: generalFont;
  font-weight: 500;
  font-style: medium;
  font-size: 18px;
  line-height: 24px;
  color: #0085ff;
}
.site-main__features__card1__copy__heading__title {
  font-family: generalFont;
  font-weight: 500px;
  font-style: medium;
  font-size: 42px;
  line-height: 58px;
  color: #172026;
}
.site-main__features__card1__copy__heading__text {
  font-family: generalFont;
  font-weight: 400;
  font-style: regular;
  line-height: 28px;
  color: #36485c;
}
.site-main__features__card1__copy__checklist {
  display: block;
  gap: 20px;
}
.site-main__features__card1__copy__checklist__1 {
  display: block;
  gap: 16px;
  position: absolute;
  top: 350px;
  left: 60px;
}
.site-main__features__card1__copy__checklist__1__text {
  font-family: generalFont;
  font-weight: 400;
  font-style: regular;
  font-size: 18px;
  line-height: 24px;
  color: #36485c;
}
.site-main__features__card1__copy__checklist__2 {
  display: block;
  gap: 16px;
  position: absolute;
  top: 400px;
  left: 60px;
}
.site-main__features__card1__copy__checklist__2__text {
  font-family: generalFont;
  font-weight: 400;
  font-style: regular;
  font-size: 18px;
  line-height: 24px;
  color: #36485c;
}
.site-main__features__card1__copy__checklist__3 {
  display: block;
  gap: 16px;
  position: absolute;
  top: 450px;
  left: 60px;
}
.site-main__features__card1__copy__checklist__3__text {
  font-family: generalFont;
  font-weight: 400;
  font-style: regular;
  font-size: 18px;
  line-height: 24px;
  color: #36485c;
}
.site-main__features__card1__copy__arrow {
  display: flex;
  gap: 12px;
}
.site-main__features__card1__copy__arrow__button {
  width: 138px;
  height: 76px;
  font-family: generalFont;
  font-weight: 500;
  font-style: medium;
  font-size: 18px;
  line-height: 24px;
  color: #0085ff;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 500px;
  left: 50px;
  background-color: transparent;
  border: none;
  outline: none;
}
.site-main__features__card1__copy__arrow__button__arrow-right {
  width: 28px;
  height: 28px;
  border-radius: 30px;
  padding: 6px;
  display: flex;
  gap: 10px;
  background-color: #e3f1ff;
}
.site-main__features__card1__image {
  width: 628px;
  height: 628px;
  border-radius: 16px;
}
.site-main__features__card1__image__image {
  width: 100%;
  height: 628px;
}
.site-main__features__card2 {
  height: auto;
  display: flex;
  gap: 24px;
  position: relative;
  top: 1450px;
}
.site-main__features__card2__image {
  width: 628px;
  height: 628px;
  border-radius: 16px;
}
.site-main__features__card2__image__image {
  width: 100%;
  height: 628px;
}
.site-main__features__card2__copy {
  width: 628px;
  height: 628px;
  padding: 56px;
  display: flex;
  gap: 32px;
}
.site-main__features__card2__copy__heading {
  display: block;
  gap: 16px;
}
.site-main__features__card2__copy__heading__link {
  font-family: generalFont;
  font-weight: 500;
  font-style: medium;
  font-size: 18px;
  line-height: 24px;
  color: #00a424;
}
.site-main__features__card2__copy__heading__title {
  font-family: generalFont;
  font-weight: 500px;
  font-style: medium;
  font-size: 42px;
  line-height: 58px;
  color: #172026;
}
.site-main__features__card2__copy__heading__text {
  font-family: generalFont;
  font-weight: 400;
  font-style: regular;
  line-height: 28px;
  color: #36485c;
}
.site-main__features__card2__copy__checklist {
  display: block;
  gap: 20px;
}
.site-main__features__card2__copy__checklist__1 {
  display: block;
  gap: 16px;
  position: absolute;
  top: 350px;
  left: 700px;
}
.site-main__features__card2__copy__checklist__1__text {
  font-family: generalFont;
  font-weight: 400;
  font-style: regular;
  font-size: 18px;
  line-height: 24px;
  color: #36485c;
}
.site-main__features__card2__copy__checklist__2 {
  display: block;
  gap: 16px;
  position: absolute;
  top: 400px;
  left: 700px;
}
.site-main__features__card2__copy__checklist__2__text {
  font-family: generalFont;
  font-weight: 400;
  font-style: regular;
  font-size: 18px;
  line-height: 24px;
  color: #36485c;
}
.site-main__features__card2__copy__checklist__3 {
  display: block;
  gap: 16px;
  position: absolute;
  top: 450px;
  left: 700px;
}
.site-main__features__card2__copy__checklist__3__text {
  font-family: generalFont;
  font-weight: 400;
  font-style: regular;
  font-size: 18px;
  line-height: 24px;
  color: #36485c;
}
.site-main__features__card2__copy__arrow {
  display: flex;
  gap: 12px;
}
.site-main__features__card2__copy__arrow__button {
  width: 138px;
  height: 76px;
  font-family: generalFont;
  font-weight: 500;
  font-style: medium;
  font-size: 18px;
  line-height: 24px;
  color: #00a424;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 500px;
  left: 700px;
  background-color: transparent;
  border: none;
  outline: none;
}
.site-main__features__card2__copy__arrow__button__arrow-right {
  width: 28px;
  height: 28px;
  border-radius: 30px;
  padding: 6px;
  display: flex;
  gap: 10px;
  background-color: #e3f1ff;
}
.site-main__features__card3 {
  height: auto;
  display: flex;
  gap: 24px;
  position: relative;
  top: 1500px;
}
.site-main__features__card3__copy {
  width: 628px;
  height: 628px;
  padding: 56px;
  display: flex;
  gap: 32px;
}
.site-main__features__card3__copy__heading {
  display: block;
  gap: 16px;
}
.site-main__features__card3__copy__heading__link {
  font-family: generalFont;
  font-weight: 500;
  font-style: medium;
  font-size: 18px;
  line-height: 24px;
  color: #eb2891;
}
.site-main__features__card3__copy__heading__title {
  font-family: generalFont;
  font-weight: 500px;
  font-style: medium;
  font-size: 42px;
  line-height: 58px;
  color: #172026;
}
.site-main__features__card3__copy__heading__text {
  font-family: generalFont;
  font-weight: 400;
  font-style: regular;
  line-height: 28px;
  color: #36485c;
}
.site-main__features__card3__copy__statistics {
  padding-top: 16px;
  display: flex;
  gap: 24px;
}
.site-main__features__card3__copy__statistics__1 {
  display: block;
  gap: 16px;
  position: absolute;
  top: 350px;
  left: 60px;
}
.site-main__features__card3__copy__statistics__1__number {
  font-family: generalFont;
  font-weight: 400;
  font-style: regular;
  font-size: 32px;
  line-height: 40px;
  color: #172026;
}
.site-main__features__card3__copy__statistics__1__text {
  font-family: generalFont;
  font-weight: 400;
  font-style: regular;
  font-size: 18px;
  line-height: 24px;
  color: #5f7896;
}
.site-main__features__card3__copy__statistics__2 {
  display: block;
  gap: 16px;
  position: absolute;
  top: 350px;
  left: 300px;
}
.site-main__features__card3__copy__statistics__2__number {
  font-family: generalFont;
  font-weight: 400;
  font-style: regular;
  font-size: 32px;
  line-height: 40px;
  color: #172026;
}
.site-main__features__card3__copy__statistics__2__text {
  font-family: generalFont;
  font-weight: 400;
  font-style: regular;
  font-size: 18px;
  line-height: 24px;
  color: #5f7896;
}
.site-main__features__card3__copy__arrow {
  display: flex;
  gap: 12px;
}
.site-main__features__card3__copy__arrow__button {
  width: 138px;
  height: 76px;
  font-family: generalFont;
  font-weight: 500;
  font-style: medium;
  font-size: 18px;
  line-height: 24px;
  color: #eb2891;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 500px;
  left: 50px;
  background-color: transparent;
  border: none;
  outline: none;
}
.site-main__features__card3__copy__arrow__button__arrow-right {
  width: 28px;
  height: 28px;
  border-radius: 30px;
  padding: 6px;
  display: flex;
  gap: 10px;
  background-color: #e3f1ff;
}
.site-main__features__card3__image {
  width: 628px;
  height: 628px;
  border-radius: 16px;
}
.site-main__features__card3__image__image {
  width: 100%;
  height: 628px;
}
.site-main__testimonials {
  width: 1440px;
  height: 1092px;
  background-color: #f4f8fa;
  position: relative;
}
.site-main__testimonials__copy {
  width: 1280px;
  height: 130px;
  position: absolute;
  top: 3700px;
  left: 80px;
  display: block;
  gap: 80px;
}
.site-main__testimonials__copy__heading {
  display: block;
  gap: 16px;
}
.site-main__testimonials__copy__heading__title {
  font-family: generalFont;
  font-weight: 500;
  font-style: medium;
  font-size: 42px;
  line-height: 58px;
  color: #172026;
  text-align: center;
}
.site-main__testimonials__copy__heading__text {
  font-family: generalFont;
  font-weight: 400;
  font-style: regular;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #36485c;
}
.site-main__testimonials__comments-img {
  height: auto;
  width: 100%;
  position: absolute;
  top: 3800px;
  border-radius: 16px;
}
.site-main__testimonials__comments__image {
  width: 100%;
}
.site-main__fags {
  padding: 120px 80px 60px 80px;
  display: flex;
  gap: 24px;
  position: relative;
}
.site-main__fags__copy {
  padding: 32px 56px 32px;
  display: block;
  gap: 16px;
  position: absolute;
  top: 2400px;
}
.site-main__fags__copy__link {
  font-family: generalFont;
  font-weight: 500;
  font-style: medium;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  color: #eb2891;
}
.site-main__fags__copy__title {
  font-family: generalFont;
  font-weight: 500;
  font-style: medium;
  font-size: 42px;
  line-height: 58px;
  text-align: justify;
  color: #172026;
}
.site-main__fags__copy__text {
  font-family: generalFont;
  font-weight: 400;
  font-style: regular;
  font-size: 18px;
  line-height: 28px;
  text-align: justify;
  color: #36485c;
}
.site-main__fags__questions {
  display: block;
  gap: 16px;
  position: relative;
}
.site-main__fags__questions__1 {
  width: 737px;
  height: auto;
  border-radius: 8px;
  border-bottom: 1px;
  padding: 24px;
  display: block;
  gap: 16px;
  background-color: #e3f1ff;
  position: absolute;
  top: 2315px;
  left: 550px;
}
.site-main__fags__questions__1__details {
  display: block;
  gap: 16px;
}
.site-main__fags__questions__1__summary {
  font-family: generalFont;
  font-weight: 500;
  font-style: medium;
  font-size: 18px;
  line-height: 24px;
  color: #172026;
}
.site-main__fags__questions__1__text {
  font-family: generalFont;
  font-weight: 400;
  font-style: regular;
  font-size: 18px;
  line-height: 28px;
  color: #36485c;
}
.site-main__fags__questions__2 {
  width: 737px;
  height: auto;
  border-radius: 8px;
  border-bottom: 1px;
  padding: 24px;
  display: block;
  gap: 16px;
  background-color: #e3f1ff;
  position: absolute;
  top: 2415px;
  left: 550px;
}
.site-main__fags__questions__2__details {
  display: block;
  gap: 16px;
}
.site-main__fags__questions__2__summary {
  font-family: generalFont;
  font-weight: 500;
  font-style: medium;
  font-size: 18px;
  line-height: 24px;
  color: #172026;
}
.site-main__fags__questions__2__text {
  font-family: generalFont;
  font-weight: 400;
  font-style: regular;
  font-size: 18px;
  line-height: 28px;
  color: #36485c;
}
.site-main__fags__questions__3 {
  width: 737px;
  height: auto;
  border-radius: 8px;
  border-bottom: 1px;
  padding: 24px;
  display: block;
  gap: 16px;
  background-color: #e3f1ff;
  position: absolute;
  top: 2515px;
  left: 550px;
}
.site-main__fags__questions__3__details {
  display: block;
  gap: 16px;
}
.site-main__fags__questions__3__summary {
  font-family: generalFont;
  font-weight: 500;
  font-style: medium;
  font-size: 18px;
  line-height: 24px;
  color: #172026;
}
.site-main__fags__questions__3__text {
  font-family: generalFont;
  font-weight: 400;
  font-style: regular;
  font-size: 18px;
  line-height: 28px;
  color: #36485c;
}
.site-main__fags__questions__4 {
  width: 737px;
  height: auto;
  border-radius: 8px;
  border-bottom: 1px;
  padding: 24px;
  display: block;
  gap: 16px;
  background-color: #e3f1ff;
  position: absolute;
  top: 2615px;
  left: 550px;
}
.site-main__fags__questions__4__details {
  display: block;
  gap: 16px;
}
.site-main__fags__questions__4__summary {
  font-family: generalFont;
  font-weight: 500;
  font-style: medium;
  font-size: 18px;
  line-height: 24px;
  color: #172026;
}
.site-main__fags__questions__4__text {
  font-family: generalFont;
  font-weight: 400;
  font-style: regular;
  font-size: 18px;
  line-height: 28px;
  color: #36485c;
}
.site-main__fags__questions__5 {
  width: 737px;
  height: auto;
  border-radius: 8px;
  border-bottom: 1px;
  padding: 24px;
  display: block;
  gap: 16px;
  background-color: #e3f1ff;
  position: absolute;
  top: 2715px;
  left: 550px;
}
.site-main__fags__questions__5__details {
  display: block;
  gap: 16px;
}
.site-main__fags__questions__5__summary {
  font-family: generalFont;
  font-weight: 500;
  font-style: medium;
  font-size: 18px;
  line-height: 24px;
  color: #172026;
}
.site-main__fags__questions__5__text {
  font-family: generalFont;
  font-weight: 400;
  font-style: regular;
  font-size: 18px;
  line-height: 28px;
  color: #36485c;
}
.site-main__fags__questions__6 {
  width: 737px;
  height: auto;
  border-radius: 8px;
  border-bottom: 1px;
  padding: 24px;
  display: block;
  gap: 16px;
  background-color: #e3f1ff;
  position: absolute;
  top: 2815px;
  left: 550px;
}
.site-main__fags__questions__6__details {
  display: block;
  gap: 16px;
}
.site-main__fags__questions__6__summary {
  font-family: generalFont;
  font-weight: 500;
  font-style: medium;
  font-size: 18px;
  line-height: 24px;
  color: #172026;
}
.site-main__fags__questions__6__text {
  font-family: generalFont;
  font-weight: 400;
  font-style: regular;
  font-size: 18px;
  line-height: 28px;
  color: #36485c;
}
.site-main__fags__questions__7 {
  width: 737px;
  height: auto;
  border-radius: 8px;
  border-bottom: 1px;
  padding: 24px;
  display: block;
  gap: 16px;
  background-color: #e3f1ff;
  position: absolute;
  top: 2915px;
  left: 550px;
}
.site-main__fags__questions__7__details {
  display: block;
  gap: 16px;
}
.site-main__fags__questions__7__summary {
  font-family: generalFont;
  font-weight: 500;
  font-style: medium;
  font-size: 18px;
  line-height: 24px;
  color: #172026;
}
.site-main__fags__questions__7__text {
  font-family: generalFont;
  font-weight: 400;
  font-style: regular;
  font-size: 18px;
  line-height: 28px;
  color: #36485c;
}
.site-main__plans {
  padding: 60px 80px 120px 80px;
  display: block;
  gap: 64px;
  position: relative;
}
.site-main__plans__heading {
  display: block;
  gap: 16px;
  position: absolute;
  top: 3000px;
  left: 500px;
}
.site-main__plans__heading__title {
  font-family: generalFont;
  font-weight: 500;
  font-style: medium;
  font-size: 42px;
  line-height: 58px;
  text-align: center;
  color: #172026;
}
.site-main__plans__heading__text {
  font-family: generalFont;
  font-weight: 400;
  font-style: regular;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #36485c;
}
.site-main__plans__prices {
  width: 1280px;
  height: 490px;
  display: flex;
  gap: 24px;
  position: absolute;
  top: 3150px;
}
.site-main__plans__prices__1 {
  width: 411px;
  height: 490px;
  border-radius: 8px;
  padding: 24px;
  display: block;
  gap: 32px;
}
.site-main__plans__prices__1__name-description {
  display: block;
  gap: 16px;
  margin: 24px;
}
.site-main__plans__prices__1__name-description__title {
  font-family: generalFont;
  font-weight: 500;
  font-style: medium;
  font-size: 20px;
  line-height: 26px;
  color: #4328eb;
}
.site-main__plans__prices__1__name-description__text {
  font-family: generalFont;
  font-weight: 400;
  font-style: regular;
  font-size: 18px;
  line-height: 28px;
  color: #36485c;
}
.site-main__plans__prices__1__pricing {
  display: flex;
  gap: 2px;
  margin: 24px;
}
.site-main__plans__prices__1__pricing__text-1 {
  font-family: generalFont;
  font-weight: 500;
  font-style: medium;
  font-size: 32px;
  line-height: 40px;
  color: #172026;
}
.site-main__plans__prices__1__pricing__text-2 {
  font-family: generalFont;
  font-weight: 500;
  font-style: medium;
  font-size: 32px;
  line-height: 40px;
  color: #5f7896;
}
.site-main__plans__prices__1__inclusions {
  display: block;
  gap: 16px;
  margin-top: 24px;
  margin-left: 44px;
}
.site-main__plans__prices__1__inclusions__list__item {
  font-family: generalFont;
  font-weight: 400;
  font-style: regular;
  font-size: 16px;
  line-height: 24px;
  color: #36485c;
  list-style-image: url(../img-folder/icon/Check.svg);
}
.site-main__plans__prices__1__button {
  display: flex;
  gap: 10px;
  margin-top: 104px;
  width: 363px;
  height: 52px;
}
.site-main__plans__prices__1__input-button {
  width: 100%;
  height: 52px;
  border-radius: 4px;
  padding: 14px 30px;
  background-color: #ffffff;
  font-family: generalFont;
  font-weight: 500;
  font-style: medium;
  font-size: 16px;
  line-height: 24px;
  color: #4328eb;
  cursor: pointer;
  border: 2px dotted #4328eb;
}
.site-main__plans__prices__2 {
  width: 411px;
  height: 490px;
  border-radius: 8px;
  padding: 24px;
  display: block;
  gap: 32px;
  background-color: #4328eb;
}
.site-main__plans__prices__2__name-description {
  display: block;
  gap: 16px;
  margin: 24px;
}
.site-main__plans__prices__2__name-description__title {
  font-family: generalFont;
  font-weight: 500;
  font-style: medium;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}
.site-main__plans__prices__2__name-description__text {
  font-family: generalFont;
  font-weight: 400;
  font-style: regular;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}
.site-main__plans__prices__2__pricing {
  display: flex;
  gap: 2px;
  margin: 24px;
}
.site-main__plans__prices__2__pricing__text-1 {
  font-family: generalFont;
  font-weight: 500;
  font-style: medium;
  font-size: 32px;
  line-height: 40px;
  color: #ffffff;
}
.site-main__plans__prices__2__pricing__text-2 {
  font-family: generalFont;
  font-weight: 500;
  font-style: medium;
  font-size: 32px;
  line-height: 40px;
  color: #ffffff;
}
.site-main__plans__prices__2__inclusions {
  display: block;
  gap: 16px;
  margin-top: 24px;
  margin-left: 44px;
}
.site-main__plans__prices__2__inclusions__list__item {
  font-family: generalFont;
  font-weight: 400;
  font-style: regular;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  list-style-image: url(../img-folder/icon/Check.svg);
}
.site-main__plans__prices__2__button {
  display: flex;
  gap: 10px;
  margin-top: 104px;
  width: 363px;
  height: 52px;
}
.site-main__plans__prices__2__input-button {
  width: 100%;
  height: 52px;
  border-radius: 4px;
  padding: 14px 30px;
  background-color: #ffffff;
  font-family: generalFont;
  font-weight: 500;
  font-style: medium;
  font-size: 16px;
  line-height: 24px;
  color: #4328eb;
  cursor: pointer;
  border: 2px dotted #4328eb;
}
.site-main__plans__prices__3 {
  width: 411px;
  height: 490px;
  border-radius: 8px;
  padding: 24px;
  display: block;
  gap: 32px;
}
.site-main__plans__prices__3__name-description {
  display: block;
  gap: 16px;
  margin: 24px;
}
.site-main__plans__prices__3__name-description__title {
  font-family: generalFont;
  font-weight: 500;
  font-style: medium;
  font-size: 20px;
  line-height: 26px;
  color: #4328eb;
}
.site-main__plans__prices__3__name-description__text {
  font-family: generalFont;
  font-weight: 400;
  font-style: regular;
  font-size: 18px;
  line-height: 28px;
  color: #36485c;
}
.site-main__plans__prices__3__custom {
  display: block;
  gap: 2px;
  margin: 24px;
}
.site-main__plans__prices__3__custom__title {
  font-family: generalFont;
  font-weight: 500;
  font-style: medium;
  font-size: 32px;
  line-height: 24px;
  color: #172026;
  text-align: center;
  margin: 30px 0;
}
.site-main__plans__prices__3__custom__text-1 {
  font-family: generalFont;
  font-weight: 400;
  font-style: regular;
  font-size: 16px;
  line-height: 24px;
  color: #36485c;
  text-align: justify;
  margin-bottom: 16px;
}
.site-main__plans__prices__3__custom__text-2 {
  font-family: generalFont;
  font-weight: 400;
  font-style: regular;
  font-size: 16px;
  line-height: 24px;
  color: #36485c;
}
.site-main__plans__prices__2__button {
  display: flex;
  gap: 10px;
  margin-top: 104px;
  width: 363px;
  height: 52px;
}
.site-main__plans__prices__3__input-button {
  width: 100%;
  height: 52px;
  border-radius: 4px;
  padding: 14px 30px;
  background-color: #ffffff;
  font-family: generalFont;
  font-weight: 500;
  font-style: medium;
  font-size: 16px;
  line-height: 24px;
  color: #4328eb;
  cursor: pointer;
  border: 2px dotted #4328eb;
}
.site-main__cta {
  width: 1280px;
  height: 492px;
  border-radius: 16px;
  background-image: url(../img-folder/background/Gradient-2.svg);
  position: absolute;
  top: 6200px;
  left: 100px;
}
.site-main__cta__content__title {
  font-family: generalFont;
  font-weight: 500;
  font-style: medium;
  font-size: 56px;
  line-height: 64px;
  text-align: center;
  color: #ffffff;
}
.site-main__cta__content__text {
  font-family: generalFont;
  font-weight: 400;
  font-style: regular;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}
.site-main__cta__content {
  position: absolute;
  top: 50px;
  left: 300px;
}
.site-main__cta__buttons {
  width: 358px;
  height: 56px;
  position: absolute;
  top: 348px;
  left: 461px;
  display: flex;
  gap: 40px;
}
.site-main__cta__buttons__button__input-button {
  width: 160px;
  height: 56px;
  border-radius: 4px;
  padding: 16px 32px;
  display: flex;
  gap: 10px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
  outline: none;
  font-family: generalFont;
  font-weight: 500;
  font-style: medium;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #eb2891;
}
.site-main__cta__buttons__button-link_input-button {
  width: 160px;
  height: 56px;
  font-family: generalFont;
  font-weight: 500;
  font-style: medium;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.site-main__cta__buttons__button-link_arrow {
  width: 26px;
  height: 26px;
  border-radius: 30px;
  padding: 6px;
  background-color: #ffffff;
}
.site-main__cta__buttons__button-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-footer {
  height: auto;
  padding: 120px 80px 56px 80px;
  display: block;
  gap: 104px;
  position: relative;
  top: 4200px;
}
.site-footer__logo-menu {
  display: flex;
  justify-content: space-between;
}
.site-footer__logo-menu__logo {
  display: flex;
}
.site-footer__logo-menu__logo__union {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 15px;
  left: 47px;
}
.site-footer__logo-menu__logo__text {
  position: absolute;
  top: 20px;
  left: 90px;
  font-family: generalFont;
  font-weight: 700;
  font-style: bold;
  font-size: 17px;
  line-height: 24px;
}
.site-footer__logo-menu__menu {
  display: flex;
  gap: 100px;
  position: absolute;
  top: 15px;
  left: 700px;
}
.site-footer__logo-menu__menu__features {
  display: block;
  gap: 32px;
}
.site-footer__logo-menu__menu div {
  display: block;
  gap: 32px;
}
.site-footer__logo-menu__menu ul li a {
  font-family: generalFont;
  font-weight: 400;
  font-style: regular;
  font-size: 20px;
  line-height: 30px;
  color: #36485c;
}
.site-footer__copyright-socials {
  position: absolute;
  top: 200px;
  display: flex;
  justify-content: space-between;
  gap: 750px;
}
.site-footer__copyright-socials__text {
  font-family: generalFont;
  font-weight: 500;
  font-style: medium;
  font-size: 16px;
  line-height: 24px;
  color: #5f7896;
}
.site-footer__copyright-socials__socials {
  display: flex;
  gap: 56px;
}
.site-footer__copyright-socials__socials img {
  width: 20px;
  height: 20px;
}/*# sourceMappingURL=main.css.map */