@font-face {
  font-family: generalFont;
  src: url(../font-folder/OpenSans-VariableFont_wdth\wght.ttf);
  src: url(../font-folder/OpenSans-Italic-VariableFont_wdth\wght.ttf);
}
.site-head {
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 24px 80px;
  &__logo-menu {
    display: flex;
    gap: 74px;
  }
  &__logo {
    width: 35px;
    height: 35px;
  }
  &__union {
    width: 100%;
  }
  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item-list {
    display: flex;
    gap: 56px;
  }
  &__menu-link {
    font-family: generalFont;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #36485c;
  }
  &__account-sign-in {
    display: flex;
    gap: 56px;
  }
  &__account-content {
    font-family: generalFont;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #36485c;
  }
  &__sign-in {
    display: flex;
    gap: 12px;
  }
  &__user {
    width: 26px;
    height: 26px;
  }
  &__circle-user {
    width: 100%;
  }
  &__sign-content {
    font-family: generalFont;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #36485c;
  }
}
.site-main {
  height: 7677px;
  background-color: #ffffff;
  &__hero {
    height: auto;
    background-color: #ffffff;
    position: relative;
  }
  &__hero__copy {
    width: 846px;
    height: 304px;
    position: absolute;
    top: 127px;
    left: 297px;
    display: block;
    gap: 24px;
  }
  &__hero__title {
    font-family: generalFont;
    font-weight: 600;
    font-style: bold;
    font-size: 64px;
    line-height: 72px;
    text-align: center;
    color: #172026;
  }
  &__hero__text {
    font-family: generalFont;
    font-weight: 400;
    font-style: semi-regular;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #36485c;
  }
  &__hero__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: absolute;
    top: 350px;
    left: 550px;
  }
  &__hero__button {
    width: 160px;
    height: 56px;
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 16px 32px;
    display: flex;
    gap: 10px;
    background-color: #4328eb;
    font-family: generalFont;
    font-weight: 500;
    font-style: medium;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
  }
  &__hero__button-link {
    display: flex;
    gap: 12px;
  }
  &__hero____button-link__text {
    font-family: generalFont;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    color: #4328eb;
  }
  &__hero__arrow {
    width: 28px;
    height: 28px;
    border-radius: 30px;
    padding: 6px;
    display: flex;
    gap: 10px;
    background-color: #d5cffa80;
  }
  &__hero__arrow-right {
    width: 100%;
  }
  &__hero__image {
    height: auto;
    position: absolute;
    top: 491px;
    left: 145px;
  }
  &__hero__mobile {
    width: 271px;
    height: 585px;
    position: absolute;
    top: 95px;
    left: 720px;
    z-index: 4;
  }
  &__hero__web {
    width: 957px;
    height: 680px;
    position: absolute;
    top: -80px;
    left: 10px;
    z-index: 3;
  }
  &__hero__logos {
    position: absolute;
    top: 1293px;
    left: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 72px;
    z-index: 2;
  }
  &__hero__logos__text__content {
    font-family: generalFont;
    font-weight: 400;
    font-style: regular;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
  }
  &__hero__logos__logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 72px;
  }
  &__hero__gradient {
    position: absolute;
    top: 784px;
    left: -88px;
    z-index: 1;
    width: 1555px;
    height: 653px;
  }
  &__hero__gradient2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__features {
    height: auto;
    padding: 120px 80px;
    display: block;
    gap: 80px;
  }
  &__features__card1 {
    height: auto;
    display: flex;
    gap: 24px;
    position: relative;
    top: 1400px;
  }
  &__features__card1__copy {
    width: 628px;
    height: 628px;
    padding: 56px;
    display: flex;
    gap: 32px;
  }
  &__features__card1__copy__heading {
    display: block;
    gap: 16px;
  }
  &__features__card1__copy__heading__link {
    font-family: generalFont;
    font-weight: 500;
    font-style: medium;
    font-size: 18px;
    line-height: 24px;
    color: #0085ff;
  }
  &__features__card1__copy__heading__title {
    font-family: generalFont;
    font-weight: 500px;
    font-style: medium;
    font-size: 42px;
    line-height: 58px;
    color: #172026;
  }
  &__features__card1__copy__heading__text {
    font-family: generalFont;
    font-weight: 400;
    font-style: regular;
    line-height: 28px;
    color: #36485c;
  }
  &__features__card1__copy__checklist {
    display: block;
    gap: 20px;
  }
  &__features__card1__copy__checklist__1 {
    display: block;
    gap: 16px;
    position: absolute;
    top: 350px;
    left: 60px;
  }
  &__features__card1__copy__checklist__1__text {
    font-family: generalFont;
    font-weight: 400;
    font-style: regular;
    font-size: 18px;
    line-height: 24px;
    color: #36485c;
  }
  &__features__card1__copy__checklist__2 {
    display: block;
    gap: 16px;
    position: absolute;
    top: 400px;
    left: 60px;
  }
  &__features__card1__copy__checklist__2__text {
    font-family: generalFont;
    font-weight: 400;
    font-style: regular;
    font-size: 18px;
    line-height: 24px;
    color: #36485c;
  }
  &__features__card1__copy__checklist__3 {
    display: block;
    gap: 16px;
    position: absolute;
    top: 450px;
    left: 60px;
  }
  &__features__card1__copy__checklist__3__text {
    font-family: generalFont;
    font-weight: 400;
    font-style: regular;
    font-size: 18px;
    line-height: 24px;
    color: #36485c;
  }
  &__features__card1__copy__arrow {
    display: flex;
    gap: 12px;
  }
  &__features__card1__copy__arrow__button {
    width: 138px;
    height: 76px;
    font-family: generalFont;
    font-weight: 500;
    font-style: medium;
    font-size: 18px;
    line-height: 24px;
    color: #0085ff;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 500px;
    left: 50px;
    background-color: transparent;
    border: none;
    outline: none;
  }
  &__features__card1__copy__arrow__button__arrow-right {
    width: 28px;
    height: 28px;
    border-radius: 30px;
    padding: 6px;
    display: flex;
    gap: 10px;
    background-color: #e3f1ff;
  }
  &__features__card1__image {
    width: 628px;
    height: 628px;
    border-radius: 16px;
  }
  &__features__card1__image__image {
    width: 100%;
    height: 628px;
  }
  &__features__card2 {
    height: auto;
    display: flex;
    gap: 24px;
    position: relative;
    top: 1450px;
  }
  &__features__card2__image {
    width: 628px;
    height: 628px;
    border-radius: 16px;
  }
  &__features__card2__image__image {
    width: 100%;
    height: 628px;
  }
  &__features__card2__copy {
    width: 628px;
    height: 628px;
    padding: 56px;
    display: flex;
    gap: 32px;
  }
  &__features__card2__copy__heading {
    display: block;
    gap: 16px;
  }
  &__features__card2__copy__heading__link {
    font-family: generalFont;
    font-weight: 500;
    font-style: medium;
    font-size: 18px;
    line-height: 24px;
    color: #00a424;
  }
  &__features__card2__copy__heading__title {
    font-family: generalFont;
    font-weight: 500px;
    font-style: medium;
    font-size: 42px;
    line-height: 58px;
    color: #172026;
  }
  &__features__card2__copy__heading__text {
    font-family: generalFont;
    font-weight: 400;
    font-style: regular;
    line-height: 28px;
    color: #36485c;
  }
  &__features__card2__copy__checklist {
    display: block;
    gap: 20px;
  }
  &__features__card2__copy__checklist__1 {
    display: block;
    gap: 16px;
    position: absolute;
    top: 350px;
    left: 700px;
  }
  &__features__card2__copy__checklist__1__text {
    font-family: generalFont;
    font-weight: 400;
    font-style: regular;
    font-size: 18px;
    line-height: 24px;
    color: #36485c;
  }
  &__features__card2__copy__checklist__2 {
    display: block;
    gap: 16px;
    position: absolute;
    top: 400px;
    left: 700px;
  }
  &__features__card2__copy__checklist__2__text {
    font-family: generalFont;
    font-weight: 400;
    font-style: regular;
    font-size: 18px;
    line-height: 24px;
    color: #36485c;
  }
  &__features__card2__copy__checklist__3 {
    display: block;
    gap: 16px;
    position: absolute;
    top: 450px;
    left: 700px;
  }
  &__features__card2__copy__checklist__3__text {
    font-family: generalFont;
    font-weight: 400;
    font-style: regular;
    font-size: 18px;
    line-height: 24px;
    color: #36485c;
  }
  &__features__card2__copy__arrow {
    display: flex;
    gap: 12px;
  }
  &__features__card2__copy__arrow__button {
    width: 138px;
    height: 76px;
    font-family: generalFont;
    font-weight: 500;
    font-style: medium;
    font-size: 18px;
    line-height: 24px;
    color: #00a424;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 500px;
    left: 700px;
    background-color: transparent;
    border: none;
    outline: none;
  }
  &__features__card2__copy__arrow__button__arrow-right {
    width: 28px;
    height: 28px;
    border-radius: 30px;
    padding: 6px;
    display: flex;
    gap: 10px;
    background-color: #e3f1ff;
  }
  &__features__card3 {
    height: auto;
    display: flex;
    gap: 24px;
    position: relative;
    top: 1500px;
  }
  &__features__card3__copy {
    width: 628px;
    height: 628px;
    padding: 56px;
    display: flex;
    gap: 32px;
  }
  &__features__card3__copy__heading {
    display: block;
    gap: 16px;
  }
  &__features__card3__copy__heading__link {
    font-family: generalFont;
    font-weight: 500;
    font-style: medium;
    font-size: 18px;
    line-height: 24px;
    color: #eb2891;
  }
  &__features__card3__copy__heading__title {
    font-family: generalFont;
    font-weight: 500px;
    font-style: medium;
    font-size: 42px;
    line-height: 58px;
    color: #172026;
  }
  &__features__card3__copy__heading__text {
    font-family: generalFont;
    font-weight: 400;
    font-style: regular;
    line-height: 28px;
    color: #36485c;
  }
  &__features__card3__copy__statistics {
    padding-top: 16px;
    display: flex;
    gap: 24px;
  }
  &__features__card3__copy__statistics__1 {
    display: block;
    gap: 16px;
    position: absolute;
    top: 350px;
    left: 60px;
  }
  &__features__card3__copy__statistics__1__number {
    font-family: generalFont;
    font-weight: 400;
    font-style: regular;
    font-size: 32px;
    line-height: 40px;
    color: #172026;
  }
  &__features__card3__copy__statistics__1__text {
    font-family: generalFont;
    font-weight: 400;
    font-style: regular;
    font-size: 18px;
    line-height: 24px;
    color: #5f7896;
  }
  &__features__card3__copy__statistics__2 {
    display: block;
    gap: 16px;
    position: absolute;
    top: 350px;
    left: 300px;
  }
  &__features__card3__copy__statistics__2__number {
    font-family: generalFont;
    font-weight: 400;
    font-style: regular;
    font-size: 32px;
    line-height: 40px;
    color: #172026;
  }
  &__features__card3__copy__statistics__2__text {
    font-family: generalFont;
    font-weight: 400;
    font-style: regular;
    font-size: 18px;
    line-height: 24px;
    color: #5f7896;
  }
  &__features__card3__copy__arrow {
    display: flex;
    gap: 12px;
  }
  &__features__card3__copy__arrow__button {
    width: 138px;
    height: 76px;
    font-family: generalFont;
    font-weight: 500;
    font-style: medium;
    font-size: 18px;
    line-height: 24px;
    color: #eb2891;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 500px;
    left: 50px;
    background-color: transparent;
    border: none;
    outline: none;
  }
  &__features__card3__copy__arrow__button__arrow-right {
    width: 28px;
    height: 28px;
    border-radius: 30px;
    padding: 6px;
    display: flex;
    gap: 10px;
    background-color: #e3f1ff;
  }
  &__features__card3__image {
    width: 628px;
    height: 628px;
    border-radius: 16px;
  }
  &__features__card3__image__image {
    width: 100%;
    height: 628px;
  }
  &__testimonials {
    width: 1440px;
    height: 1092px;
    background-color: #f4f8fa;
    position: relative;
  }
  &__testimonials__copy {
    width: 1280px;
    height: 130px;
    position: absolute;
    top: 3700px;
    left: 80px;
    display: block;
    gap: 80px;
  }
  &__testimonials__copy__heading {
    display: block;
    gap: 16px;
  }
  &__testimonials__copy__heading__title {
    font-family: generalFont;
    font-weight: 500;
    font-style: medium;
    font-size: 42px;
    line-height: 58px;
    color: #172026;
    text-align: center;
  }
  &__testimonials__copy__heading__text {
    font-family: generalFont;
    font-weight: 400;
    font-style: regular;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #36485c;
  }
  &__testimonials__comments-img {
    height: auto;
    width: 100%;
    position: absolute;
    top: 3800px;
    border-radius: 16px;
  }
  &__testimonials__comments__image {
    width: 100%;
  }
}
